img.normal {float: left; height: 200px; width: 300px;}
img.alta {float: left; height: 220px; width: 220px;}
h1 { border-bottom-style: inset;}
pre {font-size: 1.2em;}
.fonte-azul{ color: blue}
.oculta { display: none;}
.exibe { display: inline;}
.italico { font-style: italic;}


